@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    background:darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
    color: bisque;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
    color: bisque;
}